body {
  background-color: black;
}
.post {
  color: white;
  justify-items: center;
  text-align: center;
  margin-top: 150px;
  margin-left: 25%;
  margin-right: 25%;
}
.coder {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: auto;
  height: auto;
  border: 2px solid white;
  border-radius: 10px;
}
@media (max-width: 600px) {
  .post {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 80px;
    text-align: center;
  }
  .coder {
    width: 80%;
    max-width: 320px;
    display: block;
    margin: 0 auto;
  }
}
